*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
a:hover{
    color: #fff;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
#header{
    background-color: #111418 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
.logo a{
    display: flex;
    align-items: center;
    
}
/* .logo img{
    border: 10px solid #2c2323;
    border-radius: 50% ;
} */
.logo-text {
    font-size: 18px;
    padding-top: 8px;
    color: #ffff;
}
.mainmenu {
    display: flex;
    align-items: center;
}

.call-action {
    color: white;
}
.nav-links{
    display: flex;
    margin-right: 35px;
}
.nav-link a{
    color: #fff;
    font-size: 18px;
}
.nav-link a:hover{
    color: #FF4500;
}

main.main-content {
    width: 100%;
    display: flex;
}
 .sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: red;
    /* background-color: #111418; */
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
}

.social-icon {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-icon a{
    padding-right: 10px;
    font-size: 30px;
    color: #fff;
}
.social-icon a:hover{
    color: green;
}

.main-content-wrapper{
    width: calc(100% - 100px); 
    margin-left: 100px;
    /* background-color: gray; */
}
.single-slider img{
    width: 100%;
    height: 750px; 
}




.about-area{
    margin-top: 100px;
}
.about{
    display: flex;
}
.about-left{
    flex-basis: 50%;
}
.about-left h2{
    margin-bottom: 30px;
}
.single-about-left{
    display: flex;
    max-width: 400px;
}
.about-left-icon{
    width: 50px;
    height: 50px;
    margin: 0 20px;
}
.about-right{
    flex-basis: 50%;
}

.service-area{
    margin: 100px 0;
}
.service{
    display: flex;
    gap: 3%;
    justify-content: center;
    border-top: 2px solid;
}
.single-service{
    flex-basis: 22%;
    /* box-shadow: 1px 1px 5px 5px; */
    padding: 15px;
    /* border-radius: 10px; */
    border-right: 2px solid;
}
.service-icon{
    width: 100px;
    height: 100px;
}



.project{
    position: relative;
    background-image: url("./../image/texture.jpg");
    background-position: left;
    background-size: 60% 100% ;
    background-repeat: no-repeat;
    padding: 40px 0;
    /* height: 100%; */
}

.single-project {
    text-align: -webkit-right;
    margin-right: 100px;
}

.common-project {
    width: 70%;
    text-align: left;
    margin-bottom: 20px;
}
.common-project img {
    width: 100%;
    height: 350px;
}



footer{
    width: calc(100% - 100px); 
    margin-left: 100px;
    /* background-color: gray;  */
}
/* .architec-project{
    position: absolute;
    width: 500px;
    top: 0;
    right: 100px;
}
.interior-project{
    position: absolute;
    width: 500px;
    top: 350px;
    right: 100px;
}
.animation-project{
    position: absolute;
    width: 500px;
    top: 700px;
    right: 100px;
} */
/*

.wid10{
    width: 100px;
}
#home{
    background-image: url("../../assets/image/mahabub.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: .95;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    text-align: center;
}
.hero-bg {
    background-color: black;
    opacity: 0.85;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999999;
}
.home-btn{
    border: 2px solid #FF4500;
    
    color: #fff;
    padding: 12px 30px;
    margin-top: 20px;
    border-radius: 30px;
    display: inline-block;
}
.home-btn:hover{
    color: #fff;
    background: #20c997 ;
}

@media (max-width: 767.98px) { 
    .wrapper{
        flex-direction: column;
    }
    #header{
        background-color: #111418 ;
        width: 100%;    
        position: relative;
    }
    .sidebar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;    
    }
    main{
        margin: 0;
    }
 } */